<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate A News Article
            </div>
            <div class="">
                Natural Language Processing
            </div>
        </header>

        <main>
            <section>     
                <form class="" onsubmit="return Client.textAnalyzer(event)">
                    <p1>Enter URL below:</p1>
                    <input id="url" type="text" name="input" value="" placeholder="https://www.example.com">
                    <input type="submit" name="" value="submit" onclick="return Client.textAnalyzer(event)" onsubmit="return Client.textAnalyzer(event)">
                </form>
            </section>

            <section class="result">
                <strong>NLP Results:</strong>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="subjectivity"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
